:root {
  --primary-color-blue: #0a6cff;
  --assist-color-txt-1: #1e304a;
  --assist-color-txt-2: #91a1bb;
  --assist-color-txt-3: #bdc7d6;
}

html {
  font-size: 12px;
}

body {
  font-family: PingFang SC, Microsoft YaHei, sans-serif;
}